.main-header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 24px;

  background-color: #0d3b66;
  color: white;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}
